<!doctype html>
<html>
<head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>

<div id="left" class="left">
    <div id="profile" class="profile">
        <img src="" alt="">
        <h2 id="pname"></h2>
    </div>
    <div class="users">
        <h3>Участники <span id="counter"></span></h3>
        <ul id="users-list" class="users-list"></ul>
    </div>
</div>
<div id="right" class="right">
    <ul id="messages" class="messages"></ul>
    <div id="message-input" class="message-input">
        <form action="">
            <input id="m" autocomplete="off" /><button id="send">Отправить</button>
        </form>
    </div>
</div>

<div id="authorization" class="authorization">
    <form name="login-form" action="">
        <input type="text" name="name" id="name" placeholder="ФИО" value="">
        <input type="text" name="nickname" id="nickname" placeholder="Ник" value="">
        <button type="submit" id="login">Войти</button>
    </form>
</div>



</body>
</html>