{{#each messages}}
<li>
    <div id="photo" class="photo"><img src="{{image}}" alt=""></div>
    <div id="msg" class="msg">
        <span>{{name}}</span>
        <span>{{message}}</span>
    </div>
</li>
{{/each}}